$main-bgcolor: rgb(15, 11, 13);
$main-fgcolor: rgb(244, 237, 240);
$main-accent: rgb(217, 4, 110);
$main-font: 'Roboto', sans-serif;

$sec-color: rgb(174, 141, 159);
$sec-accent: rgb(22, 170, 255);

$shadow-color: rgba(0, 0, 0, 0.2);

@mixin horizontal-shadow {
    box-shadow: 5px 0px 5px 0px $shadow-color;
}

@mixin vertical-shadow {
    box-shadow: 0px 5px 5px 0px $shadow-color;
}

@mixin default-animation {
    transition: all 0.3s ease-in-out;
}

@mixin apply-animation {
    * {
        @include default-animation;
    }
}

%root-window {
    width: 100%;
    height: 100%;
    font-family: $main-font;
    background-color: $main-bgcolor;
    color: $main-fgcolor;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

%default-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
