@use 'globals' as *;

$loader-size: 72px;
$loader-color: $main-accent;

@keyframes ripple-animation {
    0% {
        top: 72px;
        left: 72px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 0;
        width: 144px;
        height: 144px;
        opacity: 0;
    }
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: $main-bgcolor;

    .loader {
        display: block;
        position: relative;
        top: calc(50% - #{$loader-size});
        left: calc(50% - #{$loader-size});
        width: $loader-size;
        height: $loader-size;
        z-index: 1001;

        .loader-section {
            position: absolute;
            border: 8px solid $loader-color;
            opacity: 1;
            border-radius: 50%;
            animation: ripple-animation 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }

        .loader-section.delayed {
            animation-delay: -0.5s;
        }
    }
}

.loaded {
    #loader-wrapper {
        transition: all 0.6s 1s ease-out;
        opacity: 0;
        visibility: hidden;

        .loader {
            transform: translateY(-1000%);
            transition: all 0.3s 1s ease-out;
            opacity: 0;
        }
    }
}
