@use 'reset';
@use 'fonts';
@use 'loader';
@use 'anims';

@use 'globals' as *;

html {
    @extend %root-window;

    body {
        @extend %root-window;

        #root {
            @extend %root-window;

            #wrapper {
                @extend %root-window;
            }
        }
    }
}

main#display {
    @extend %default-center;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-bottom: 1px solid $sec-accent;

    z-index: 20;

    a {
        color: $main-fgcolor;
        text-decoration: none;
        transition: all 0.1s ease-in-out;
        font-size: 1.3rem;
        filter: drop-shadow(2px 2px 0px rgba(4, 89, 217, 0.5));

        .option {
            width: 8rem;
            height: 3rem;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            svg {
                font-size: 2rem;
            }

            section {
                margin-top: 1rem;
                font-variant: small-caps;
                letter-spacing: 0.1ch;
            }
        }
    }

    a:hover {
        color: $sec-accent;
        transform: scale(1.1);
        will-change: transform;
    }
}

article#homepage {
    @extend %default-center;
    z-index: 3;

    #content {
        @extend %default-center;

        z-index: 4;
        position: relative;
        top: 0rem;
        flex-direction: column;

        #banner {
            width: 30rem;
            height: 30rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h1 {
            font-size: 3rem;
            font-style: italic;
            letter-spacing: 0.1ch;
            text-shadow: 2px 2px 2px $main-accent;
        }

        h2 {
            font-size: 1.5rem;
            font-style: italic;
            font-weight: 200;
            letter-spacing: 0.2ch;
            text-shadow: 1px 1px 2px $main-accent;
        }

        img {
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            animation: svg-zoom 6s infinite;
        }
    }
}

article#resume {
    @extend %default-center;
    position: relative;
    height: 100%;
    align-items: flex-start;

    z-index: 3;
    #content {
        @extend %default-center;
        align-items: flex-start;
        position: relative;

        z-index: 4;

        div#resume-body {
            @extend %default-center;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            padding: 2rem;

            position: relative;
            top: 6rem;

            background-color: rgba(0, 0, 0, 0.7);
            width: 80%;

            .separator {
                height: 0px;
                width: 100%;
                background: transparent;
                border: 2px solid $main-accent;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            div {
                line-height: 1.75rem;
            }

            h1 {
                font-size: 2.5rem;
                font-weight: 300;
                height: 4rem;
            }

            section {
                width: 100%;
                height: auto;
                font-size: 1.3rem;

                .list {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;

                    .list-header {
                        height: 2rem;
                        letter-spacing: 0.1vh;
                        span {
                            color: $main-accent;
                        }
                    }

                    .list-item {
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin-left: 2rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        div {
                            height: 2rem;
                            width: 100%;
                        }

                        div::before {
                            content: '\1FA90\00A0';
                            filter: hue-rotate(-60deg);
                        }
                    }

                    .list-item::after {
                        content: '';
                        margin-bottom: 2rem;
                    }
                }

                aside,
                a {
                    color: $main-fgcolor;
                    width: 70%;
                    display: flex;
                    height: 2rem;

                    aside {
                        width: 70%;
                        height: 1.7rem;
                    }

                    .pretty {
                        color: $main-accent;
                        font-size: 1.5rem;
                        width: 60%;
                    }
                }
            }
        }
    }
}
